<div class="search-container">
  <!--<div class="menu-bar">-->
    <select>
      <option value="" disabled selected>Select a city</option>
      <option value="New York">New York</option>
      <option value="Los Angeles">Los Angeles</option>
      <option value="Chicago">Chicago</option>
      <option value="Houston">Houston</option>
      <option value="Miami">Miami</option>
      <option value="Toronto">Toronto</option>
      <option value="London">London</option>
      <option value="Paris">Paris</option>
      <option value="Tokyo">Tokyo</option>
      <option value="Sydney">Sydney</option>
      <option value="Beijing">Beijing</option>
    </select>
  <!--</div>-->

  <input type="text" placeholder="Enter city name" #filter>
  <button (click)="searchByCityName(filter.value)">Search</button>
  <input type="date" placeholder="Filter by date">
  <button>Filter</button>
</div>

<div class="parent-container">

  <div class="container" *ngFor="let forcast of forecasts">
    <div class="upper-data">
      <img src="/assets/images/sunny.png" *ngIf=" forcast.temperatureCelsius >= 22">
      <img src="/assets/images/chilly.png" *ngIf=" forcast.temperatureCelsius < 22 && forcast.temperatureCelsius > 10">
      <img src="/assets/images/cold.png" *ngIf=" forcast.temperatureCelsius <= 10"> 

      <div class="weather-data">
        <div class="date">
          {{forcast.date}}
        </div>
        <div class="location">
          {{city}}
        </div>
        <div class="temperature">
          {{forcast.temperatureCelsius | number: '1.0-0'}} ° 
        </div>
      </div>
    
    </div>

  
    <div class="lower-data">
      <div class="more-info-container">
        <div class="info-block">
          <div class="info-block-label">
            <img src="/assets/images/celsius.png">
            <span class="location" style="color: rgba(0, 0, 0, 0.8);">{{forcast.temperatureCelsius | number: '1.0-0'}}</span>
            <span class="caption">Temperature</span>
          </div>
        </div>
        <div class="info-block">
          <div class="info-block-label">
            <img src="/assets/images/fahrenheit.png">
            <span class="location" style="color: rgba(0, 0, 0, 0.8);">{{forcast.temperatureFahrenheit | number: '1.0-0'}}</span>
            <span class="caption">Temperature</span>
          </div>
        </div>
        <div class="info-block">
          <div class="info-block-label">
            <img src="/assets/images/humidity.png">
            <span class="location" style="color: rgba(0, 0, 0, 0.8);">{{forcast.humidity}}%</span>
            <span class="caption">Humidity</span>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>


<router-outlet />
